@use '../mixings/mixings';

:root {
    // Font Sizes
    --display-large: 3rem;
    --display-medium: 2.5rem;
    --headline-large: 2rem;
    --headline-medium: 1.75rem;
    --headline-small: 1.5rem;
    --body-large: 1rem;
    --body-medium: 0.875rem;
    --body-small: 0.75rem;
    --label-large: 0.875rem;
    --label-medium: 0.75rem;
    --label-small: 0.688rem;

    // Font Weight
    --font-weight-regular: 400;
    --font-weight-medium: 500;
    --font-weight-semi-bold: 600;
    --font-weight-bold: 700;

    // Font Size
    --font-size-h1: var(--display-medium);
    --font-size-h2: var(--headline-large);
    --font-size-h3: var(--headline-medium);
    --font-size-h4: var(--headline-small);
    --font-size-body: var(--body-large);
    --font-size-button: var(--label-large);
}

h1 {
    font-size: var(--font-size-h1);
    font-weight: var(--font-weight-bold);
    letter-spacing: 2px;
}

h2 {
    font-size: var(--font-size-h2);
    font-weight: var(--font-weight-medium);
}

h3 {
    font-size: var(--font-size-h3);
    font-weight: var(--font-weight-medium);
}

h4 {
    font-size: var(--font-size-h4);
    font-weight: var(--font-weight-regular);
}

p {
    font-size: var(--font-size-body);
    font-weight: var(--font-weight-regular);
}

.button {
    font-size: var(--font-size-button);
    font-weight: var(--font-weight-regular);
}

.caption {
    font-size: var(--font-size-caption);
    font-weight: var(--font-weight-regular);
}
