$navigation-padding: 1rem;

mat-divider {
  border-top-color: var(--outline);
}

.navigation {
  height: 100vh;

  display: flex;
  flex-direction: column;
  background-color: var(--bg-bright);

  overflow: hidden;
  transition:
    background-color 250ms,
    width 250ms;

  .navigation-logo {
    padding: $navigation-padding;
  }

  mat-divider {
    margin-inline: $navigation-padding;
  }

  p {
    font-size: var(--label-large);
    color: var(--primary);
    font-weight: var(--font-weight-medium);
  }

  .cdk-virtual-scrollable {
    overflow: visible;
    contain: none;
  }

  .navigation-item {
    overflow: hidden;

    .navigation-links {
      max-height: 77.7vh;
      overflow-y: auto;

      .navigation-links-shortcuts,
      .navigation-links-categories {
        padding-inline: $navigation-padding;
      }

      ul {
        padding: 0;
        margin: 1rem 0;

        li {
          list-style: none;
          padding: 0.75rem 1rem;
          border-radius: 1.25rem;

          &:hover {
            background-color: var(--hover-primary);
            cursor: pointer;
          }
        }

        .active {
          background-color: var(--active-primary);
        }

        .hidden {
          display: none;
        }
      }
    }
  }

  .navigation-arrow-container {
    box-shadow: 0rem -0.125rem 0.3125rem rgba(87, 152, 84, 0.111);
    display: flex;

    .navigation-arrow {
      margin-left: auto;
      margin-top: auto;
      padding: $navigation-padding;

      &:hover {
        cursor: pointer;
      }

      transition: transform 250ms;
    }
  }
}

.navigation.expanded {
  width: 16rem;

  .navigation-links {
    .navigation-links-categories {
      .links-container {
        &.active {
          .rotate {
            transform: rotate(180deg);
          }

          ul {
            margin-bottom: 0;
            border-top: 1px solid var(--outline);
          }
        }

        .container-items {
          li {
            padding: 0rem 0.75rem;
            margin: 0;
            &:first-of-type {
              margin-top: 0.75rem;
            }

            display: flex;
            flex-direction: row;
            gap: .5rem;
            align-items: center;
          }
        }
      }
    }

    ul {
      li {
        display: flex;
        flex-direction: column;

        color: var(--primary);
        font-size: var(--label-medium);

        div {
          display: flex;
          justify-content: start;
          align-items: center;
          gap: .5rem;

          p {
            margin: 0;
          }

          span {
            padding: 0;

            &:nth-of-type(2) {
              margin-left: auto;
            }
          }
        }
      }
    }
  }

  .navigation-arrow-container {
    justify-content: flex-end;
  }
}

.navigation.collapsed {
  width: 7rem;

  .navigation-logo {
    padding: 0;
    margin: 1rem auto;
  }

  .navigation-links {
    padding: 0 1rem;
    p {
      display: none;
    }
    ul {
      li {
        color: var(--primary);
        display: flex;

        span:not(.material-symbols-outlined) {
          display: none;
        }

        p {
          display: none;
        }
      }
    }

    .navigation-links-categories,
    .navigation-links-shortcuts {
      padding-inline: 0rem !important;
    }

    .navigation-links-shortcuts {
      div {
        display: flex;
        align-items: center;
      }
    }

    .navigation-links-categories {
      .links-container {
        &.active {
          .rotate {
            transform: rotate(180deg) !important;
          }

          ul {
            margin-bottom: 0;
            border-top: 1px solid var(--outline);
          }
        }

        .container-items {
          margin-bottom: 0;

          li {
            padding: 0.75rem;
          }
        }
      }
    }
    ul {
      li {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        div {
          span {
            width: 1.5rem;
            padding: 0;

            &:nth-of-type(2) {
              display: none;
            }
          }
        }
      }
    }
  }

  .navigation-arrow-container {
    .navigation-arrow {
      margin-inline: auto;
    }
  }
}
