<div class="navigation expanded flex flex-column justify-content-between">
  <div class="flex flex-column">
    @if (navigation.expanded()) {
      <img
        class="navigation-logo align-self-start"
        [src]="'/img/logo.png'"
        width="80"
        alt="Hilal Pines Logo"
        [routerLink]="['/home']"
      />
    } @else {
      <img
        class="navigation-logo align-self-center"
        [src]="'/img/logo-mobile.png'"
        width="40"
        alt="Hilal Pines Logo"
        [routerLink]="['/home']"
      />
    }

    <!-- Start of scrollable content using virtual scroll -->
    <cdk-virtual-scroll-viewport itemSize="50" class="navigation-viewport">
      <div *cdkVirtualFor="let link of navigationLinks" class="navigation-item">
        <div class="navigation-links">
          <mat-divider />

          <div class="navigation-links-shortcuts">
            <p>Shortcuts</p>
            <ul>
              @for (shortcut of link.shortcuts; track $index) {
                <li
                  [routerLink]="[shortcut.route]"
                  type="button"
                  tabindex="1"
                  routerLinkActive="active"
                  [routerLinkActiveOptions]="{ exact: true }"
                  (click)="navigation.expand(shortcut.id)"
                  (keydown.enter)="navigation.expand(shortcut.id)"
                  class="links-container"
                  [id]="shortcut.id + '-container'"
                >
                  <div>
                    <span class="material-symbols-outlined">
                      {{ shortcut.icon }}
                    </span>
                    <p>{{ shortcut.name }}</p>
                  </div>
                </li>
              }
            </ul>
          </div>

          <mat-divider />

          <div class="navigation-links-categories">
            <p>Categories</p>
            <ul>
              @for (category of link.categories; track $index) {
                <li
                  routerLinkActive="active"
                  [routerLinkActiveOptions]="{ exact: true }"
                  type="button"
                  (click)="navigation.expand(category.id)"
                  (keydown.enter)="navigation.expand(category.id)"
                  tabindex="2"
                  class="links-container"
                  [id]="category.id + '-container'"
                >
                  <div>
                    <span class="material-symbols-outlined">
                      {{ category.icon }}
                    </span>
                    <p>{{ category.name }}</p>
                    <span class="material-symbols-outlined rotate"> arrow_drop_down </span>
                  </div>

                  <ul
                    class="container-items"
                    [class.hidden]="!navigation.isOnLink(category.subRoutes)"
                    [id]="category.id"
                  >
                    @for (subLink of category.subLinks; track $index) {
                      <li
                        [routerLink]="[subLink.route]"
                        routerLinkActive="active"
                        (click)="$event.stopPropagation()"
                        (keydown.enter)="$event.stopPropagation()"
                        tabindex="3"
                        class="navigation-link-list-item"
                        type="button"
                      >
                        <span class="material-symbols-outlined">
                          {{ subLink.icon }}
                        </span>
                        <p>{{ subLink.name }}</p>
                      </li>
                    }
                  </ul>
                </li>
              }
            </ul>
          </div>
        </div>
      </div>
    </cdk-virtual-scroll-viewport>
    <!-- End of scrollable content -->
  </div>

  <div class="navigation-arrow-container flex align-items-center justify-content-between">
    <button
      mat-button
      class="logout-btn"
      (click)="logout()"
      tabindex="4"
      [ngClass]="{ expanded: navigation.expanded() }"
    >
      <span class="material-symbols-outlined"> logout </span>
      @if (navigation.expanded()) {
        <span>Logout</span>
      }
    </button>
    <div
      (click)="navigation.navigationToggle('rail')"
      (keydown.enter)="navigation.navigationToggle('rail')"
      class="navigation-arrow flex align-items-center justify-content-center"
      tabindex="9"
    >
      <span class="material-symbols-outlined"> chevron_left </span>
    </div>
  </div>
</div>
