@use '../../../../public/mixings/mixings.scss' as bp;
@use '../../../../public/typography/typography.scss' as typography;

::ng-deep .mat-mdc-form-field-subscript-wrapper {
  display: none;
}


.search-bar-category-filters{
  justify-content: start;

  .search-bar{
    width: 30rem;
    height: 3.5rem;

    ::ng-deep .mat-mdc-form-field-infix{
      display: flex;
    }
  }

  .category-filters-wrapper{
    flex: 1;
    overflow-x: scroll;

    -ms-overflow-style: none; // IE 10+
    touch-action: pan-x;       // mobile smooth scroll
    -webkit-overflow-scrolling: touch; // iOS momentum scroll

    padding-block: 0.2rem;
    padding-inline: 0.625rem;


    .category-filters{
      gap: 0.625rem;

      button{
        width: 6.0625rem;
        height: 3.5rem;
        padding: 0 .5rem;
      }
    }

    &::-webkit-scrollbar {
      display: none;
    }
  }


  @include bp.breakpoint-down(tablet) {
    flex-direction: column;
    gap: 0.55rem;

    .search-bar{
      width: 100%;
      height: 2.5rem;

      ::ng-deep .mat-mdc-form-field-flex {
        height: 2.5rem;
        display: flex;
        align-items: center;
      }
    }

    .category-filters-wrapper{
      width: 100%;

      .category-filters{
        button{
          height: 1.75rem;
        }
      }
    }
  }
}
